
    body {
        background-color: #363435;
        padding: 50px;
        text-align: center;
        font-family: 'Kanit', sans-serif;
    }

    /* -------------- Clases -------------- */

    .presentacion{
        color: white;
        font-size: large;
        margin-top: 0;
        line-height: 0.6;
    }
    .acceso{
        margin-top: 100px;
        padding: 1em;
        text-align: center;
    }

    .form{
        height: 350px;
        width: 300px;
        background-color: rgba(255,255,255,0.13);
        position: relative;
        right: 40px;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        border-radius: 10px;
        backdrop-filter: blur(10px);

        box-shadow: 0 0 40px rgba(8,7,16,0.6);
        padding: 50px 35px;

        font-family: 'Poppins',sans-serif;
        color: #ffffff;
        letter-spacing: 0.5px;
        outline: none;
        border: none;

        text-align: center;
    }
    .fh3{
        font-size: 32px;
        font-weight: 500;
        line-height: 42px;
        text-align: center;
    }

    .titulo{
        color: white;
        font-family: 'Noto Sans Cherokee', sans-serif;
    }
    .label{
        color: white;
        width: 90px;
        display: block;
        margin-top: 10px;
        font-size: 1rem;
        font-weight: 500;
        text-align: left;
    }
    .rule{
        margin-top: 20px;
        border: none;
    }
    .bAcceder{
        margin-top: 30px;
        width: 60%;
        background-color: #ffffff;
        color: #080710;
        padding: 15px;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        text-align: center;
        margin-left: 10px;
    }

    .ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .inp{
        display: table-column;
        height: 50px;
        width: 90%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 10px;
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
        color: white;
    }








