@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');


body {
        background-color: #363435;
        padding: 20px;
        font-family: 'Kanit', sans-serif;
    }

    /* -------------- Clases -------------- */
    .background{
        background: content-box linear-gradient(#363435, #363435, #504E4F, #636162);
    }
    .presentacion{
        color: white;
        font-size: large;
        margin-top: 0;
        line-height: 0.6;
        text-align: center;
    }
    .acceso{
        margin-top: 140px;
        padding: 1em;
        text-align: center;
    }

    .form{
        height: 350px;
        width: 300px;
        background-color: rgba(255, 255, 255, 0.27);
        position: relative;
        right: 40px;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        border-radius: 10px;
        backdrop-filter: blur(10px);

        box-shadow: 0 0 40px rgba(8,7,16,0.6);
        padding: 50px 35px;

        font-family: 'Poppins',sans-serif;
        color: #ffffff;
        outline: none;
        border: none;

        text-align: center;
    }
    .fh3{
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }
    .btn{
        margin: auto;
        margin-top: 25px;

        padding: 15px 40px;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        text-align: center;

        font-family: Roboto, sans-serif;
        color: #fff;
        background: linear-gradient(90deg, #00091c 0%, #606060 100%);
        transition : 893ms;
        transform: translateY(0);
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .btn:hover{
        transition : 893ms;
        padding: 10px 90px;
        transform : translateY(-0px);
        background: linear-gradient(90deg, #0066CC 0%, #48cae4 100%);
        color: #0066cc;
    }

    .titulo{
        color: white;
        font-family: 'Poppins', sans-serif;
    }
    .label{
        color: white;
        width: 90px;
        display: block;
        margin-top: 10px;
        font-size: 1rem;
        font-weight: 500;
        text-align: left;
    }
    .rule{
        margin-top: 20px;
        border: none;
    }
    .ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .ulf{
        list-style: none;
        padding: 0;
        margin-right: auto;
        float: left;
    }
    .inp{
        display: table-column;
        height: 50px;
        width: 90%;
        background-color: rgba(255, 255, 255, 0.15);
        border-radius: 10px;
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
        color: white;
    }
    .inp::placeholder{
        color: rgba(255, 255, 255, 0.53);
    }

    /* Historia */

    .back{
        padding: 40px;
        text-align: center;
    }

    .hed{
        width: 100%;
        padding: 5px;
        text-align: left;
    }
    .tith{
        font-family: 'Poppins', sans-serif;
        color: white;
        font-size: x-large;
        font-weight: 500;
    }
    .main-container{
        background-color: rgba(255, 255, 255, 0.87);
        padding: 60px;
        color: black;
        border-radius: 10px;
        border: solid 2px transparent;
        background-clip: padding-box;
        box-shadow: 10px 10px 10px  rgba(46, 54, 68, 0.03);
        backdrop-filter: blur(30px);
        margin-top: 30px;
    }
    .presupuesto{
        text-align: left;
        margin-top: 25px;
    }
    .foot{
        padding: 20px;
        margin-top: 50px;
        line-height: 0.5;
        color: rgba(255, 255, 255, 0.53);
        font-weight: 200;
    }


    .remitidor{
        text-align: right;
    }
    .personales{
        text-align: left;
    }
    .antecedentes{
        text-align: right;
    }
    .riesgos{
       text-align: right;
    }
    .interpretacion{
        text-align: right;
    }
    .tecnica{
        text-align: right;
    }

    .labh{
        color: black;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        font-size: 1rem;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
    }
    .enlabh{
        color: black;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        font-size: 18px;
        font-weight: 900;
        font-family: 'Roboto', sans-serif;
    }
    .inh{
        height: 40px;
        width: 15%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 10px;
        border-color: rgba(255, 255, 255, 0.16);
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
    }
    .inhl{
        height: 40px;
        width: 20%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 10px;
        border-color: rgba(255, 255, 255, 0.16);
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
    }
    .inhlpx{
        height: 40px;
        width: 40%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 10px;
        border-color: rgba(255, 255, 255, 0.16);
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;

    }
    .inhxl{
        height: 40px;
        width: 50%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 10px;
        border-color: rgba(255, 255, 255, 0.16);
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
    }
    .inhch{
        height: 40px;
        width: 5%;
        background-color: rgba(255, 255, 255, 0.04);
        border-radius: 10px;
        border-color: rgba(255, 255, 255, 0.12);
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
    }
    .imfloat{
        float: left;
        width: 7%;
        text-align: right;
        margin-top: 0;
        margin-right: 20px;
    }
    .select{
        height: 40px;
        width: 15%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 10px;
        border-color: rgba(176, 176, 176, 0.56);
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
        color: #636162;
    }
    .selectl{
        height: 40px;
        width: 25%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 10px;
        border-color: rgba(176, 176, 176, 0.56);
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
        color: #636162;
    }
    .selectxl{
        height: 40px;
        width: 45%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 10px;
        border-color: rgba(176, 176, 176, 0.56);
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
        color: #636162;
    }

    .texta{
        height: 100px;
        width: 80%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 10px;
        border-color: rgba(176, 176, 176, 0.56);
        padding: 15px;
        font-size: 16px;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
    }
    .textas{
        height: 50px;
        margin-bottom: 200px;
        width: 30%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 10px;
        border-color: rgba(176, 176, 176, 0.56);
        padding: 15px;
        font-size: 16px;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
    }

    .ruleh{
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .table{
        font-family: 'Roboto', sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    .td{
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    .th{
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        color: black;
        font-size: 18px;
    }
    .tr:nth-child(even) {
        background-color: #dddddd;
    }

    .inpInv{
        height: 100%;
        width: 90%;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        padding: 10px;
        font-size: 14px;
        font-weight: 300;
    }
    .btnh{
        margin-right: 15px;
        padding: 15px 40px;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        border: none;
        cursor: pointer;

        font-family: Roboto, sans-serif;
        color: #fff;
        background: linear-gradient(90deg, #000d17 0%, #64747a 100%);
        transition : 893ms;
        transform: translateY(0);
        align-items: center;
    }
    .btnh:hover{
        transition : 893ms;
        padding: 10px 90px;
        transform : translateY(-0px);
        background: linear-gradient(90deg, #0066CC 0%, #48cae4 100%);
        color: #8ec3ff;
    }

    /* Presupuesto */

    /* IDS */









